*, body, html{
   margin: 0;
   padding: 0;
}

.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.MuiListItemButton-root.MuiListItemButton-gutters.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
   padding: 16px 23px;
}

ul.MuiList-root.MuiList-padding.css-h4y409-MuiList-root {
   height: 550px;
   
   a{
      text-decoration: none;
      color: #20222E;

      &.active, &.active li{
         background-color: #F7F8FC;
         color: #3751FF;
         .css-191crz0-MuiTypography-root {
            font-weight: 600;
        }

         svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
            color: #3751FF;
        }
      }
   }
}

.css-th9w7-MuiPaper-root-MuiAccordion-root:before {
   background-color: rgba(55, 82, 255, 0) !important;
}

.css-konndc-MuiListItemText-root{
   .css-191crz0-MuiTypography-root {
      font-weight: 600 !important;
   }
}